#tegzePopTab {
    position: absolute;
    width: 50px;
    height: calc(100% - 52px);
    z-index: 10;
}

#tegzePopTab:hover .wrapper-3NnKdC {
    width: 72px;
}

#tegzePopTab:hover ~ .base-3dtUhz {
    padding-left: 72px;
}

.wrapper-3NnKdC:hover {
    width: 72px;
}

.wrapper-3NnKdC {
    height: calc(100% + 52px);
    width: 0px;
}
